.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.about {
  background-color: #0a2850;
  color: #fff;
  padding: 80px 20px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
  max-width: 251px;
  z-index: 1;
  position: relative;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-right: 80px;
  margin-bottom: 172px;
}

.about__paragraph {
  margin: 0 0 20px 80px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  transform: translate(-50%);
  z-index: 0;
}

.about__circle.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
  z-index: 1;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
