.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/images/background_header.svg);
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto-serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto-serif";
}

.header__span-accent {
  display: block;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  display: flex;
  left: 80px;
  max-width: 438px;
  gap: 24px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto-serif";
}

.recipes__iframe {
  max-width: 480px;
  max-height: 273px;
  gap: 24px;
}

.recipes__videos {
  display: flex;
  gap: 100px;
  justify-content: center;
  bottom: 215px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__input {
  height: 60px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  border-radius: 2px;
}

.input[type="checkbox"] {
  max-height: 20px;
  max-width: 20px;
  appearance: none;
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.input[type="checkbox"]:checked {
  background-image: url("check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
}

.form__input[type="datetime-local"] {
  padding: 20px;
}

::placeholder {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 20px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  height: 60px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
}
